<?xml version="1.0"?>

<model>
  <name>Skytech E2 with ArduPilot</name>
  <version>2.0</version>
  <sdf version="1.9">model.sdf</sdf>

  <description>
    Starting with skytech e2 frame
    add LiftDragPlugin
    add ArduCopterPlugin
  </description>
  <depend>
    <model>
      <uri>model://skytech_e2_frame</uri>
      <version>1.0</version>
    </model>
  </depend>
</model>
